.custom-cursor-dot {
  position: fixed;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  pointer-events: none;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-cursor-ring {
  position: fixed;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  pointer-events: none;
  z-index: 9998;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .custom-cursor-dot, .custom-cursor-ring {
    display: none;
  }
}
